<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Web interface to submit and schedule jobs on the Milwaukee Institute's
  <em>Raptor</em> high-performance computing cluster.
</p>
<p>
  Developed by <a href="mailto:jkopp@mkei.org">Joel Kopp</a> for the
  <a href="https://www.mkei.org">Milwaukee Institute</a>.
</p>
