<div class="bg"></div>
<div class="jumbotron">
  <h1>RaptorQueue</h1>
  <h2>Web interface to submit your job to the Milwaukee Institute's Raptor cluster.</h2>
  <%= link_to "Request access", signup_path, class: "btn btn-lg btn-primary" %>
</div>
