<% provide(:title, "Jobs") %>
<h1>Jobs in queue</h1>
<p><%= page_entries_info @jobs, entry_name: 'job' %></p>

<% if @jobs.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Job id</th>
        <th>Submitter</th>
        <th>Status</th>
        <th>Solver</th>
        <th>Nodes</th>
        <th>PPN</th>
        <th>Submitted at</th>
      </tr>
    </thead>
    <%= render @jobs, cols: { user: true, id: true, status: true,
                              config: true, nodes: true, processors: true,
                              submitted_at: true } %>
  </table>
  <%= paginate @jobs %>
<% end %>
