$('#job_version').empty()
<% if @config.empty? %>
  .prop('disabled', true)
  .append("<option value=\"\">Select version</option>");
<% else %>
  .prop('disabled', false)
  .append("<%= escape_javascript(render('shared/version', config: @config)) %>");
<% end %>
